
h1{
    color:Yellow
}


html{font-size: 16px;
line-height: 1.5;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
background: Teal;
padding: 24px 24px 0;}




::-moz-selection {background: #E85e00; color:white; text-shadow: none;

}

::selection {background: #E85e00; color:white; text-shadow: none;

}

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
    max-width:100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1 {font-family: "Times New Roman", serif;
font-size: 36px;
line-height: 40px;
margin: 0 0 48px
}

h2 {
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;

}

h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 24px;

}

h4,
h5,
h6 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px

}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol,
blockquote {

}

li ul,
li ol{
margin-bottom: 0;
}

blockquote {
font-style: italic;
font-size: 23px;
line-height: 32px;
margin: 0 0 24px;
font-family: "Times New Roman", serif;
}

figcaption {
    font-size: 12px;
    line-height: 16px;
    padding-top: 8px;
    color: Grey;
}

hr {
border: 0;
height: 1px;
background: LightGrey;
margin: 0 0 24px;
}

a {

}

a:hover,
a:focus {

}

a:visited,
a:active {

}
